.products-hero {
  height: 408px;
  background-image: url('/src/assets/products-hero/products-hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.products-hero h1 {
  font-weight: 600;
  font-size: 52.48px;
  letter-spacing: 2%;
  line-height: 69.96px;
  margin-left: 5rem;
}

.products-hero-navigation {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 5rem;
  cursor: pointer;
  color: #b8822c;
  align-items: center;
}

.products-hero-navigation a {
  text-decoration: none;
  color: #b8822c;
  font-size: 14.59px;
}
