@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.instagram-shop {
  height: 603px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 2rem;
}

.instagram-shop h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 72px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;

  color: #442414;
}

.instagram-shop-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.instagram-shop-item-1 {
  background-image: url('/src/assets/instagram-shop/1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 400px;
}

.instagram-shop-item-2 {
  background-image: url('/src/assets/instagram-shop/2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 400px;
}
.instagram-shop-item-3 {
  background-image: url('/src/assets/instagram-shop/3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 400px;
}
