@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.third-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 347px;
  background-image: url('/src/assets/third-section/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third-section-item {
  width: 192px;
  height: 186px;
  border-radius: 18px;
}

.third-section-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.third-section-item-container p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20.1944px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.third-section-item-container:hover {
  scale: 0.9;
}
