@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.bespoke-design {
  background: url('/src/assets/be-spoke/be-spoke.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 471px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  justify-content: center;
}

.bespoke-design h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 110px;
  /* identical to box height, or 157% */

  color: #f6f6f6;
  margin-left: 102px;
}

.bespoke-design p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 41px;
  /* or 205% */

  color: #f6f6f6;
  margin-left: 102px;
}

.bespoke-design button {
  border: 1px solid white;
  width: 210px;
  height: 48.08px;
  background: transparent;
  color: white;
  margin-left: 102px;
  cursor: pointer;
}

.bespoke-design button:hover {
  background-color: white;
  color: #0a3568;
}
