@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.product-details {
  margin-left: 4rem;
  margin-right: 4rem;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 4rem;
}

.product-details-left {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.product-details-small-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.small-image-preview {
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 132px;
}

.product-details-images {
  border: 1px solid rgb(0, 0, 0, 0.4);
}

.product-details-right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.product-nav-info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14.5891px;
  line-height: 18px;
  /* identical to box height */

  color: #cccccc;
}

.product-detail-reviews {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.product-detail-reviews p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14.5891px;
  line-height: 18px;
  /* identical to box height */

  color: #cccccc;
}

.product-name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 32.06px;
  line-height: 43px;
  /* identical to box height */

  color: #000000;
}

.product-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30.06px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #442414;
}

.produc-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14.06px;
  line-height: 23px;
  /* or 164% */

  color: #000000;
}

.produc-desc li {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14.06px;
  line-height: 29px;
  /* or 206% */

  color: #000000;
}

.product-details-right ul {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  gap: 1rem;
}

.product-add-to-cart {
  width: 100%;
  /* width: 190px; */
  border: 1px solid black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16.84px;
  line-height: 21px;
  /* identical to box height */
  cursor: pointer;
  color: #9f858e;
  background-color: transparent;
}
.product-add-to-cart:hover {
  background-color: #9f858e;
  color: white;
  border: 1px solid black;
}

.product-add-btn {
  width: 85px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 23px;
  /* gap: 5px; */
}

.product-add-btn p {
  cursor: pointer;
  font-size: 23px;
}

.product-wishlist {
  width: 85px;
  border: 1px solid #442414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-buy {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16.84px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.product-buy:hover {
  scale: 0.9;
}

.product-page hr {
  margin-left: 4rem;
  margin-right: 4rem;
  border: 1px solid #adadad;
}

.product-details hr {
  width: 100%;
  margin-left: 0;
  border: 1px solid #adadad;
}

.product-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.product-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.product-tabs p {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 25.06px;
  line-height: 31px;
  /* identical to box height */

  color: #000000;
  cursor: pointer;
}

.active-tab {
  font-weight: bold;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25.06px;
  line-height: 31px;
  /* identical to box height */

  color: #000000;
  cursor: pointer;
}

.product-tabs-content {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.product-tabs-content p {
  font-family: 'Montserrat';
  font-style: normal;
  /* font-weight: 400; */
  font-size: 14.06px;
  line-height: 27px;
  /* or 192% */

  color: #000000;
}

.product-tabs-content ul {
  margin-left: 2rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14.06px;
  line-height: 27px;
  /* or 192% */

  color: #000000;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-customer-reviews {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.product-customer-reviews h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 25.06px;
  line-height: 33px;
  margin-top: 47px;
  color: #000000;
  text-align: center;
}

.review-containers {
  display: flex;
  flex-direction: column;
  gap: 104px;
  padding: 1rem;
}

.reviews {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.user-profile-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.product-customer-reviews button {
  border: none;
  width: 400px;
  height: 50px;
  background-color: #c5adb5;
  color: white;
  margin-top: 143px;
  cursor: pointer;
}

.prod-rec-section {
  background-color: #f1f1f1;
  margin-top: 4rem;
  display: flex;
  margin-bottom: 4rem;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.prod-rec-section h2 {
  color: #442414;
  margin-top: 2rem;
  font-size: 30px;
  text-align: center;
}

.prod-rec-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
