.product-details {
  margin-left: 4rem;
  margin-right: 4rem;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 4rem;
}

.product-details-left {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.product-details-small-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.small-image-preview {
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 132px;
}

.product-details-images {
  border: 1px solid rgb(0, 0, 0, 0.4);
}

.product-details-right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.nav-info {
  color: #cccccc;
}

.product-detail-reviews {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.product-detail-reviews p {
  color: #cccccc;
}

.product-name {
  font-size: 36px;
  color: #442414;
}

.product-price {
  font-size: 32px;
}

.produc-desc {
  font-size: 14px;
}

.product-details-right ul {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  gap: 1rem;
}

.product-cta button {
  width: 190px;
  border: 1px solid #442414;
  background-color: transparent;
}

.product-add-btn {
  width: 85px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 23px;
  /* gap: 5px; */
}

.product-add-btn p {
  cursor: pointer;
  font-size: 23px;
}

.product-wishlist {
  width: 85px;
  border: 1px solid #442414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-details-right button {
  height: 50px;
  background-color: #c5adb5;
  color: white;
  font-size: 14px;
  border: none;
}

.product-page hr {
  margin-left: 4rem;
  margin-right: 4rem;
  border: 1px solid #adadad;
}

.product-details hr {
  width: 100%;
  margin-left: 0;
  border: 1px solid #adadad;
}

.product-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.product-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.product-tabs p {
  font-size: 25px;
  color: #442414;
  cursor: pointer;
}

.active-tab {
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  color: #442414;
}

.product-tabs-content {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.product-tabs-content p {
  font-size: 18px;
}

.product-tabs-content ul {
  margin-left: 2rem;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-customer-reviews {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.product-customer-reviews h2 {
  color: #442414;
  margin-top: 2rem;
  font-size: 30px;
  text-align: center;
}

.review-containers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.reviews {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.user-profile-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 1px solid rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.product-customer-reviews button {
  border: none;
  width: 400px;
  height: 50px;
  background-color: #c5adb5;
  color: white;
}

.prod-rec-section {
  background-color: #f1f1f1;
  margin-top: 4rem;
  display: flex;
  margin-bottom: 4rem;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.prod-rec-section h2 {
  color: #442414;
  margin-top: 2rem;
  font-size: 30px;
  text-align: center;
}

.prod-rec-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
