@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.lower-nav-container {
  height: 100px;
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid rgb(0, 0, 0, 0.2); */
}

.lower-nav-container h2 {
  color: #442414;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.05em;
}

.lower-nav-link-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.lower-nav-link {
  text-decoration: none;
  color: #442414;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.lower-nav-link:hover {
  scale: 1;
  font-weight: bold;
}

.lower-nav-input {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.lower-nav-input input {
  width: 322px;
  height: 39px;
  padding: 1rem;
  border: 1px solid #a28891;
  border-radius: 8px;
}

.lower-nav-search {
  margin-left: -3rem;
  position: relative;
}
