.upper-nav-container {
  height: 67px;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background: url('/src/assets/upper_nav.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 1rem;
}

.upper-nav-design {
  margin-right: auto;
  width: 799px;
  height: 57px;
}

.upper-nav-button {
  width: 145px;
  height: 39px;
  border: none;
  border-radius: 4px;
  margin-right: 68px;
  color: #7e5923;
  cursor: pointer;
  position: relative;
}

.nav-hover-dialog {
  background-color: white;
  box-shadow: 0px 17.8009px 43.2308px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 281px;
  height: 161px;
  gap: 1rem;
  border-radius: 11px;
  position: absolute;
  top: 58px;
  padding: 20px;
}

.nav-hover-dialog-hidden {
  background-color: white;
  box-shadow: 0px 17.8009px 43.2308px rgba(0, 0, 0, 0.25);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 281px;
  height: 161px;
  gap: 1rem;
  border-radius: 11px;
  position: absolute;
  top: 58px;
}

.nav-hover-dialog p {
  font-size: 15px;
}

.nav-dialog-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav-dialog-login {
  height: 36px;
  width: 109px;
  color: white;
  background-color: #7e5923;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.nav-dialog-signup {
  border: 1px solid #7e5923;
  border-radius: 5px;
  height: 36px;
  width: 109px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
}

.nav-dialog-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav-dialog-footer p {
  font-size: 15px;
  cursor: pointer;
}

.nav-dialog-issues {
  color: #ef2424;
}

.nav-dialog-contact {
  color: #2fabf7;
}
