.account {
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.account h2 {
  margin-top: 2rem;
  font-size: 30px;
  margin-top: 2rem;
  border-bottom: 5px solid #e1cbd2;
  padding-bottom: 1rem;
}

.account-dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* border: 1px solid black; */
  gap: 1rem;
}

.account-menu-container {
  padding: 1rem;

  /* border: 1px solid black; */
}

.account-details {
  /* border: 1px solid black; */
  padding: 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.account-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #a38a92;
  height: 100%;
  /* padding: 1rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 2rem;
}

.account-menu p {
  /* padding: 1rem; */
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-details h3 {
  font-size: 25px;
}

.account-details hr {
  width: 100%;
}

.account-details h4 {
  font-size: 25px;
}

.account-profile-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.profile-image {
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.4);
  height: 64px;
  width: 64px;
}

.personal-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.account-address-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 5px;
  border: 1px solid black;
}

.account-address-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.account-order-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.track-order-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.track-order-container h4 {
  font-size: 25px;
}

.track-order-id {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a38a92;
}
