@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.fine-jewellery {
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.fine-jewellery h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;

  color: #442414;

  margin-top: 2rem;
}

.fine-jewellery-collection {
  display: grid;
  width: 1204px;
  height: 673px;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 4rem;
}

.fine-jewellery-left {
  background-image: url('/src/assets/fine-jewellery/new_arriavls.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding-left: 36px;
  padding-bottom: 39px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
}

.fine-jewellery-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fine-jewellery-flawless {
  background-image: url('/src/assets/fine-jewellery/rings.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding-left: 29px;
  padding-bottom: 26px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
}

.fine-jewellery-lower-right {
  height: 353px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fine-jewellery-ethically {
  background-image: url('/src/assets/fine-jewellery/ethical.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding-left: 29px;
  padding-bottom: 37px;
  font-size: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
}

.fine-jewellery-memorable {
  background-image: url('/src/assets/fine-jewellery/memorable.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding-left: 29px;
  padding-bottom: 37px;
  font-size: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
}

.fine-jewellery-card {
  transition: 0.2s;
}
.fine-jewellery-card:hover {
  scale:0.95;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
