@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
.subs_popup_main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.subs_popup_container {
  max-width: 950px;
  background: #dbd3bd;
  box-shadow: 0px 21.5909px 66.572px rgba(0, 0, 0, 0.1);
  padding: 90px 40px;
  background-image: url('/src/assets/subspopup.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top right;
}
.subs_popup_container h3 {
  font-size: 52px;
  font-weight: 600;
  line-height: 57px;
}
.subs_popup_container p {
  font-size: 20px;
  font-weight: 300;
  width: 60%;
  margin: 15px 0;
}
.subs_popup_container input {
  background: none;
  width: 100%;
  max-width: 490px;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px 0;
  outline: none;
}
.subs_popup_container button {
  display: block;
  margin-top: 20px;
  background: #c77a53;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 8px 0;
  text-align: center;
  width: 300px;
}
