@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.collections {
  height: 100%;
  /* border: 1px solid rgb(0, 0, 0, 0.2); */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.collections h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-top: 55px;
  /* identical to box height */
  flex: 0 0 100%;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #442414;
}

.collections-tab-header {
  border-top: 0.5px solid #442414;
  border-bottom: 0.5px solid #442414;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1070px;
  height: 72px;
  margin-bottom: 50px;
}

.collections-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.collections-tab-active {
  border-bottom: 1px solid #442414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.collections-tab p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #442414;
  opacity: 0.5;
  cursor: pointer;
}

.collections-tab-active p {
  cfont-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #442414;
  cursor: pointer;
}

.collections-item-container {
  flex: 0 0 400px;
  margin-bottom: 2rem;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.collections-item {
  /* border: 1px solid rgb(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.collections-img-1 {
  background-image: url('/src/assets/collection/1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 388px;
}
.collections-img-2 {
  background-image: url('/src/assets/collection/2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 388px;
}
.collections-img-3 {
  background-image: url('/src/assets/collection/3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 388px;
}
.collections-img-4 {
  background-image: url('/src/assets/collection/4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 388px;
}
.collections-img-5 {
  background-image: url('/src/assets/collection/5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 388px;
}
.collections-img-6 {
  background-image: url('/src/assets/collection/6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 388px;
  width: 388px;
}

.collections-item p {
  font-family: 'Montserrat';
  font-style: normal;

  font-size: 26.1538px;
  line-height: 32px;
  letter-spacing: 0.05em;

  color: #442414;
}

.collections-item-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 26.1538px;
  line-height: 32px;
  /* identical to box height */
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  color: #442414;
}
